<div>
    <h5 class="text-center" style="margin-top: 100px;">WELCOME ADMIN</h5>
    <a href="/admin/adminlogin">
        <button type="button" class="btn btn-primary btn-lg btn-block text-center" style="margin-top: 100px;">LOGIN REQUIRED</button>
    </a>
</div>