{{#if showHeader}}
<header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
                aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Products<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/cart">Cart<span class="badge badge-success"id = "cart-count">{{cartCount}}</span></a>
                    </li>
                    {{#if uber}}
                    <li class="nav-item">
                        <a class="nav-link" href="/orders">Orders</a>
                    </li>
                    {{/if}}
                    {{#if uber}}
                    <li class="nav-item">
                        <a class="nav-link" href="/profile">Profile</a>
                    </li>
                    {{/if}}
                </ul>
                
                
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="Account" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{#if uber}}
                        {{uber.Name}}
                        {{else}}
                            Account
                        {{/if}}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="Account">

                        {{#if uber}}
                            <a class="dropdown-item" href="/logout">logout</a>
                        {{else}}
                            <a class="dropdown-item" href="/login">login</a>
                        {{/if}}
            
                    </div>
                </div>
            </div>
        </nav>
    <a class="navbar-brand" href="/" style="display: block;text-align:center;"><h1 style="background: linear-gradient(to right,#ffc107, #007bff);color:white; font-style: italic;">SHOPPING</h1>
</a>
    </header>
    {{/if}}