<section>
    <div class="row">
        <div class="container">
            <div class="col-md-12 text-center">
                <h1 class="text-center">Order Placement Failed</h1>
                <a href="/view-products" class="btn btn-primary">Return to home</a>
            </div>
        </div>
    </div>
</section>