<section>
    <div class="container mt-5">
        <form action="" id="checkout-form">
        <div class="row">

            <div class="col-md-6 mt-3">
                <h2>Enter Delivery Details</h2><br>
                <div>
                    <label for="">Address</label>
                    <input class="form-control" type="text" id="address" name="address">
                    <label for="">Pincode</label>
                    <input class="form-control" type="text" id="pincode" name="pincode">
                    <label for="">Mobile</label>
                    <input class="form-control" type="text" id="mobile" name="mobile">
                    <input type ='text' name="userId" id="" value="{{user._id}}" hidden>
                </div>
            </div>

            <div class="col-md-4 mt-3">
                <div class="container  checkout">
                    <h5>Total Amount : Rs.{{total}}</h5>
                    <hr>
                    <div class="payment">
                        <p class="met">Payment method</p>
                        <label class="radio-inline">
                            <input type="radio" name="payment-method" value="COD" checked>COD
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="payment-method" value="ONLINE" checked>Online payment
                        </label><br>
                        <button class="btn btn-primary float-right" type="submit">Checkout</button>
                    </div>
                </div>
            </div>

        </div>
        </form>

    </div>
</section>

<script>
    $("#checkout-form").submit((e)=>{
        e.preventDefault()
        $.ajax({
            url:'/place-order',
            method:'post',
            data:$('#checkout-form').serialize(),
            success:(response)=>{
                alert(response)
                if(response.codsuccess){
                    location.href="/order-success"
                }else{
                    razorpayPayment(response)
                    
                }
            }
        })
    })

    function razorpayPayment(order){
            var options = {
            "key": "rzp_test_anuyEOBRiaAqxD",
            "amount": order.amount,
            "currency": "INR",
            "name": "Anandhu Test E-commerse Company",
            "description": "Test Transaction",
            "order_id": order.id,
            "handler": function (response){

                verifyPayment(response,order)
            },
            "prefill": {
                "name": "",
                "email": "", 
                "contact": ""
            },
            "notes": {
                "address": "Razorpay Corporate Office"
            },
            "theme": {
                "color": "#3399cc"
            }
        };
        var rzp1 = new Razorpay(options);
        rzp1.on('payment.failed', function (response){
                alert(response.error.code);
                alert(response.error.description);
                alert(response.error.source);
                alert(response.error.step);
                alert(response.error.reason);
                alert(response.error.metadata.order_id);
                alert(response.error.metadata.payment_id);
        });
            rzp1.open();
            e.preventDefault();
    }

    function verifyPayment(payment,order){
        $.ajax({
            url:'/verify-payment',
            data:{
                payment,
                order
            },
            method:'post',
            success:(response)=>{
                if(response.status){
                    location.href="/order-success"
                }else{
                    location.href="/order-fail"
                }
            }
        })
    }

</script>

<style>
    input[type=radio]{
        width: 20px;
        height: 20px;
    }
    label.radio-inline{
        display: flex;
        align-items: center;
    }
    .checkout{
        border:1px solid;
        border-radius: 3px;
        padding: 50px;
    }
    .payment{
        font-weight: bold;
    }
</style>